*{
    font-family: Arial, Helvetica, sans-serif;
}
.heading{
text-align: center;
margin-top: 90px;
}
.container{
    width: 90%;
    background-color:  rgb(235, 232, 232);
    padding: 10px;
    margin-bottom: 30px;
    margin-left: 70px;
    border-radius: 10px;
}
.container > h2{
    margin-left: 50px;
}
.genres{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box > p{
    padding: 20px;
    background-color: rgb(208, 203, 203);
    border-radius: 5px;
}
.box > p:hover{
    cursor: pointer;
}
.box > p:active{
    background-color: #8e8686;
}
.Table {
    width: 90vw;
    margin-left: 70px;
    border-collapse: collapse;
}
.Table>thead{
    background-color: rgb(235, 232, 232);
}
.Table>thead>tr>td{
    padding: 10px;
    border: 1px solid #a9a6a6;
}
.Table>tbody>tr>td{
    padding: 10px;
    border: 1px solid #8e8686;
}
.Table>tbody>:hover{
    background-color: rgb(235, 232, 232);
}